:root {
  //--el-color-primary: green;
}
html, body{
  background-color: #f1f1f1;
  height: 100%;
  margin: 0;
}
#app{
  margin: auto;
  max-width: 1600px;
  background-color: #fff;
  height: 100%;
  padding: 30px;
}
